<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itniuma.mapper.ArticleMapper">

    <select id="List" resultType="com.itniuma.pojo.Article">
        SELECT * FROM article
        <where>
            <if test="categoryId != null">
                AND category_id = #{categoryId}
            </if>
            <if test="state != null">
                AND state = #{state}
            </if>
            <if test="title != null">
                AND title LIKE CONCAT('%', #{title}, '%')
            </if>
            AND create_user = #{userId}
        </where>
    </select>

    <select id="ListAll" resultType="com.itniuma.pojo.Article">
        SELECT * FROM article
        <where>
            <if test="title != null">
                AND title LIKE CONCAT('%', #{title}, '%')
            </if>
            <if test="categoryIds != null and !categoryIds.isEmpty()">
                AND category_id IN
                <foreach item="categoryId" collection="categoryIds" open="(" separator="," close=")">
                    #{categoryId}
                </foreach>
            </if>
            AND state = '已发布'
        </where>
        ORDER BY create_time DESC
    </select>

</mapper>
