<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itniuma.mapper.MessagesMapper">

    <insert id="addMessage">
        insert into messages(img, content, created_time) values(#{img}, #{content}, #{createdTime})
    </insert>

    <update id="updateMessage">
        update messages set img=#{img}, content=#{content}, created_time=#{createdTime} where id=#{id}
    </update>

    <delete id="deleteMessage">
        delete from messages where id=#{id}
    </delete>


    <select id="detail" resultType="com.itniuma.pojo.Messages">
        select * from messages where id=#{id}
    </select>
    <select id="listAll" resultType="com.itniuma.pojo.Messages">
        select * from messages
    </select>
</mapper>
