<!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"default"}} -->
<div class="wp-block-group"><!-- wp:template-part {"slug":"header","theme":"travel-mates","area":"header"} /-->

    <!-- wp:group {"tagName":"main","align":"full","style":{"spacing":{"blockGap":"0","padding":{"bottom":"50px"}}},"layout":{"type":"constrained"}} -->
    <main class="wp-block-group alignfull" style="padding-bottom:50px"><!-- wp:cover {"overlayColor":"contrast","isUserOverlayColor":true,"focalPoint":{"x":0.47,"y":0.43},"minHeight":200,"contentPosition":"bottom center","align":"full","layout":{"type":"constrained"}} -->
    <div class="wp-block-cover alignfull has-custom-content-position is-position-bottom-center" style="min-height:200px"><span aria-hidden="true" class="wp-block-cover__background has-contrast-background-color has-background-dim-100 has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:group {"align":"wide","style":{"spacing":{"blockGap":"0"}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group alignwide"><!-- wp:query-title {"type":"archive","align":"wide","style":{"typography":{"fontSize":"30px","lineHeight":"0.5"},"elements":{"link":{"color":{"text":"var:preset|color|bright"}}}},"textColor":"bright"} /-->
    
    <!-- wp:wptravel/breadcrumb {"textSize":20,"linkColor":"#ffa700","textColor":"#ffffff","separatorColor":"#ffffff"} /--></div>
    <!-- /wp:group --></div></div>
    <!-- /wp:cover -->
    
    <!-- wp:group {"align":"wide","style":{"spacing":{"margin":{"top":"60px"}}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group alignwide" style="margin-top:60px"><!-- wp:query {"queryId":16,"query":{"perPage":"6","pages":0,"offset":0,"postType":"travel-guide","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"parents":[]},"align":"wide","layout":{"type":"default"}} -->
    <div class="wp-block-query alignwide"><!-- wp:post-template {"style":{"spacing":{"blockGap":"30px"}},"layout":{"type":"grid","columnCount":3}} -->
    <!-- wp:group {"style":{"spacing":{"padding":{"right":"20px","left":"20px","top":"20px","bottom":"20px"}},"border":{"radius":"2px","bottom":{"color":"#dc834e","width":"10px"},"top":[],"right":[],"left":[]}},"backgroundColor":"bright","layout":{"type":"constrained"}} -->
    <div class="wp-block-group has-bright-background-color has-background" style="border-radius:2px;border-bottom-color:#dc834e;border-bottom-width:10px;padding-top:20px;padding-right:20px;padding-bottom:20px;padding-left:20px"><!-- wp:post-featured-image {"isLink":true,"width":"200px","height":"200px","rel":"#","linkTarget":"_blank","style":{"border":{"radius":"100px","color":"#dc834e","width":"5px"},"spacing":{"margin":{"top":"0","bottom":"0","left":"0","right":"0"},"padding":{"top":"0","bottom":"0"}}}} /-->
    
    <!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group"><!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"center"}} -->
    <div class="wp-block-group"><!-- wp:wptravel/guide-fullname {"style":{"typography":{"fontSize":"28px"},"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}}},"textColor":"secondary"} /--></div>
    <!-- /wp:group -->
    
    <!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"center"}} -->
    <div class="wp-block-group"><!-- wp:wptravel/icon-picker {"icon":"fas fa-map-marker-alt","style":{"spacing":{"padding":{"right":"10px"}}}} -->
    <div class="wp-block-wptravel-icon-picker" style="padding-right:10px"><i class="fas fa-map-marker-alt"></i></div>
    <!-- /wp:wptravel/icon-picker -->
    
    <!-- wp:wptravel/guide-city {"style":{"elements":{"link":{"color":{"text":"var:preset|color|contrast"}}}},"textColor":"contrast"} /-->
    
    <!-- wp:paragraph -->
    <p>, </p>
    <!-- /wp:paragraph -->
    
    <!-- wp:wptravel/guide-country {"style":{"elements":{"link":{"color":{"text":"var:preset|color|contrast"}}}},"textColor":"contrast"} /--></div>
    <!-- /wp:group -->
    
    <!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"center"}} -->
    <div class="wp-block-group"><!-- wp:wptravel/guide-review /--></div>
    <!-- /wp:group --></div>
    <!-- /wp:group -->
    
    <!-- wp:group {"style":{"typography":{"fontStyle":"italic","fontWeight":"700"},"spacing":{"blockGap":"5px"}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"center"}} -->
    <div class="wp-block-group" style="font-style:italic;font-weight:700"><!-- wp:wptravel/icon-picker {"icon":"fas fa-minus","style":{"typography":{"fontSize":"16px"}}} -->
    <div class="wp-block-wptravel-icon-picker" style="font-size:16px"><i class="fas fa-minus"></i></div>
    <!-- /wp:wptravel/icon-picker -->
    
    <!-- wp:wptravel/guide-slogan /--></div>
    <!-- /wp:group -->
    
    <!-- wp:group {"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"},"blockGap":"0"}},"layout":{"type":"constrained","justifyContent":"right"}} -->
    <div class="wp-block-group" style="margin-top:0px;margin-bottom:0px"><!-- wp:group {"style":{"spacing":{"padding":{"top":"20px"}}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"center"}} -->
    <div class="wp-block-group" style="padding-top:20px"><!-- wp:wptravel/guide-social-link /--></div>
    <!-- /wp:group --></div>
    <!-- /wp:group --></div>
    <!-- /wp:group -->
    <!-- /wp:post-template --></div>
    <!-- /wp:query --></div>
    <!-- /wp:group -->
    
    <!-- wp:html -->
    <style>
        .wptravel-guide-country-block{
        text-transform: capitalize;
        padding-left: 5px;
        }
        </style>
    <!-- /wp:html --></main>
    <!-- /wp:group -->
    
    <!-- wp:template-part {"slug":"footer","theme":"travel-mates","area":"footer"} /--></div>
    <!-- /wp:group -->