<!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"default"}} -->
<div class="wp-block-group">
    <!-- wp:template-part {"slug":"header","theme":"travel-mates","align":"full"} /-->
    <!-- wp:group {"tagName":"main","align":"full","style":{"spacing":{"blockGap":"0"}},"layout":{"type":"default"}} -->
    <main class="wp-block-group alignfull">
       <!-- wp:pattern {"slug":"travel-mates/mainBanner"} /-->
       <!-- wp:pattern {"slug":"travel-mates/travelDestinations"} /-->
       <!-- wp:pattern {"slug":"travel-mates/about"} /-->

       <!-- wp:pattern {"slug":"travel-mates/cta"} /-->
       <!-- wp:pattern {"slug":"travel-mates/counters"} /-->
       <!-- wp:pattern {"slug":"travel-mates/services"} /-->
       <!-- wp:group {"style":{"color":{"background":"#f7f7f7"},"spacing":{"padding":{"top":"80px","bottom":"80px"}},"background":{"backgroundImage":{"id":414,"source":"file","title":"Journea Travel Agency - HTML5 Template (4)"}}},"layout":{"type":"constrained"}} -->
       <div id="testimonial-section" class="wp-block-group has-background" style="background-color:#f7f7f7;padding-top:80px;padding-bottom:80px">
          <!-- wp:columns {"align":"wide"} -->
          <div class="wp-block-columns alignwide">
             <!-- wp:column {"verticalAlignment":"center","width":"40%"} -->
             <div class="wp-block-column is-vertically-aligned-center" style="flex-basis:40%">
                <!-- wp:heading {"style":{"typography":{"fontSize":"40px","lineHeight":"1.4"}}} -->
                <h2 class="wp-block-heading" style="font-size:40px;line-height:1.4">What our Travelers <br>are saying</h2>
                <!-- /wp:heading -->
                <!-- wp:paragraph -->
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br>sed do eiusmod.</p>
                <!-- /wp:paragraph -->
             </div>
             <!-- /wp:column -->
             <!-- wp:column -->
             <div class="wp-block-column">
                <!-- wp:wp-travel-block/slider {"slidesPerPage":2,"controls":false,"autoplay":false,"dot":true} -->
                <div class="wp-block-wp-travel-block-slider wp-travel-block-slider" data-slider="{&quot;slidesPerPage&quot;:2,&quot;controls&quot;:false,&quot;autoplay&quot;:false,&quot;autoplayDelay&quot;:&quot;3000&quot;,&quot;dot&quot;:true,&quot;axis&quot;:&quot;horizontal&quot;,&quot;slideBy&quot;:1,&quot;center&quot;:false}">
                   <!-- wp:wp-travel-block/slides -->
                   <div class="wp-block-wp-travel-block-slides">
                      <!-- wp:group {"style":{"border":{"radius":"10px"},"spacing":{"padding":{"top":"20px","bottom":"20px","left":"20px","right":"20px"}}},"backgroundColor":"bright","layout":{"type":"constrained"}} -->
                      <div class="wp-block-group has-bright-background-color has-background" style="border-radius:10px;padding-top:20px;padding-right:20px;padding-bottom:20px;padding-left:20px">
                         <!-- wp:paragraph -->
                         <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod."</p>
                         <!-- /wp:paragraph -->
                         <!-- wp:group {"style":{"typography":{"fontSize":"3px"}},"layout":{"type":"constrained"}} -->
                         <div class="wp-block-group" style="font-size:3px">
                            <!-- wp:jetpack/rating-star {"rating":3.5,"color":"#f9a032","className":"is-style-filled"} -->
                            <figure class="wp-block-jetpack-rating-star is-style-filled" style="text-align:left"><span style="color:#f9a032">★</span><span style="color:#f9a032">★</span><span style="color:#f9a032">★</span><span style="color:#f9a032">★</span></figure>
                            <!-- /wp:jetpack/rating-star -->
                         </div>
                         <!-- /wp:group -->
                         <!-- wp:separator {"backgroundColor":"base"} -->
                         <hr class="wp-block-separator has-text-color has-base-color has-alpha-channel-opacity has-base-background-color has-background"/>
                         <!-- /wp:separator -->
                         <!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|30"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
                         <div class="wp-block-group">
                            
                            <!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"constrained"}} -->
                            <div class="wp-block-group">
                               <!-- wp:heading {"style":{"typography":{"fontSize":"16px","fontStyle":"normal","fontWeight":"600"}}} -->
                               <h2 class="wp-block-heading" style="font-size:16px;font-style:normal;font-weight:600">Leo Paul</h2>
                               <!-- /wp:heading -->
                               <!-- wp:paragraph -->
                               <p>CEO of XYZ</p>
                               <!-- /wp:paragraph -->
                            </div>
                            <!-- /wp:group -->
                         </div>
                         <!-- /wp:group -->
                      </div>
                      <!-- /wp:group -->
                   </div>
                   <!-- /wp:wp-travel-block/slides -->
                   <!-- wp:wp-travel-block/slides -->
                   <div class="wp-block-wp-travel-block-slides">
                      <!-- wp:group {"style":{"border":{"radius":"10px"},"spacing":{"padding":{"top":"20px","bottom":"20px","left":"20px","right":"20px"}}},"backgroundColor":"bright","layout":{"type":"constrained"}} -->
                      <div class="wp-block-group has-bright-background-color has-background" style="border-radius:10px;padding-top:20px;padding-right:20px;padding-bottom:20px;padding-left:20px">
                         <!-- wp:paragraph -->
                         <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod."</p>
                         <!-- /wp:paragraph -->
                         <!-- wp:group {"style":{"typography":{"fontSize":"3px"}},"layout":{"type":"constrained"}} -->
                         <div class="wp-block-group" style="font-size:3px">
                            <!-- wp:jetpack/rating-star {"rating":3.5,"color":"#f9a032","className":"is-style-filled"} -->
                            <figure class="wp-block-jetpack-rating-star is-style-filled" style="text-align:left"><span style="color:#f9a032">★</span><span style="color:#f9a032">★</span><span style="color:#f9a032">★</span><span style="color:#f9a032">★</span></figure>
                            <!-- /wp:jetpack/rating-star -->
                         </div>
                         <!-- /wp:group -->
                         <!-- wp:separator {"backgroundColor":"base"} -->
                         <hr class="wp-block-separator has-text-color has-base-color has-alpha-channel-opacity has-base-background-color has-background"/>
                         <!-- /wp:separator -->
                         <!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|30"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
                         <div class="wp-block-group">
                            
                            <!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"constrained"}} -->
                            <div class="wp-block-group">
                               <!-- wp:heading {"style":{"typography":{"fontSize":"16px","fontStyle":"normal","fontWeight":"600"}}} -->
                               <h2 class="wp-block-heading" style="font-size:16px;font-style:normal;font-weight:600">Leo Paul</h2>
                               <!-- /wp:heading -->
                               <!-- wp:paragraph -->
                               <p>CEO of XYZ</p>
                               <!-- /wp:paragraph -->
                            </div>
                            <!-- /wp:group -->
                         </div>
                         <!-- /wp:group -->
                      </div>
                      <!-- /wp:group -->
                   </div>
                   <!-- /wp:wp-travel-block/slides -->
                </div>
                <!-- /wp:wp-travel-block/slider -->
             </div>
             <!-- /wp:column -->
          </div>
          <!-- /wp:columns -->
       </div>
       <!-- /wp:group -->
       <!-- wp:pattern {"slug":"travel-mates/latestBlog"} /-->
    </main>
    <!-- /wp:group -->
    <!-- wp:template-part {"slug":"footer","theme":"travel-mates","align":"full"} /-->
 </div>
 <!-- /wp:group -->